<!doctype html>
<html lang="en">
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
    
    <style>
      table#foodlist_table th {color:#fff;} 
      table#foodlist_table tr:nth-child(even) { background-color: #1DB954; color:#fff;} 
      table#foodlist_table tr:nth-child(odd) {color:#fff;} 
      table#foodlist_table {width: 50%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; background-color: #303030; border-radius: 15px; margin-left: auto; margin-right: auto;}
    </style>

  </head>
  <body>
    
    <!-- Horizontal Navbar -->
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="about">About <%=shopName%></a></li>
      <li></li>
      <li class="dropdown">
          <a class="active" href="javascript:void(0)" class="dropbtn">Food</a>
          <div class="dropdown-content">
          <a href="foodsearch">Search for Foods</a>
          <a href="foodadd">Add Food</a>
          <a href="foodlist">List Foods</a>
          <a href="foodupdate">Update Foods</a>
          <a href="foodhighprotein">High Protein Foods</a>
      <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Users</a>
          <div class="dropdown-content">
          <a href="userlist">List Users</a>
          <a href="userdelete">Delete Users</a>
      <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Account</a>
          <div class="dropdown-content">
          <a href="login">Login</a>
          <a href="logout">Logout</a>
      <li><a href="register">Register with us</a></li>
      </ul>
      <!-- Horizontal Navbar -->
    
    <h1><%=shopName%>: High Protein Foods</h1>
    <h2>Here are High Protein Foods:</h2>
    
      <!-- Table View of Foods -->
      <table id="foodlist_table"> 
      <tr>
          <th>Food Name</th>
          <th>Typical Values Per</th>
          <th>Unit</th>
          <th>Carbs</th>
          <th>Name</th>
          <th>Protein</th>
          <th>Salt</th>
          <th>Sugar</th>
      </tr>
      <% availableFoods.forEach(function(food) { %>
        <tr style="text-align: center;">
          <td><%= food.FoodName %></td>
          <td><%= food.TypicalValuesPer %></td>
          <td><%= food.UnitOfTheTypicalValue %></td>
          <td><%= food.Carbs %></td>
          <td><%= food.Fat %></td>
          <td><%= food.Protein %></td>
          <td><%= food.Salt %></td>
          <td><%= food.Sugar %></td>
          <% }) %>
      </tr>
  </table>
  <!-- Table View of Foods -->

    </body>
</html>