<!doctype html>
<html lang="en">
    <head>
        <title>Welcome to <%=shopName%></title>
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <style>
        table#userlist_table tr:nth-child(even) { background-color:rgba(255, 68, 0, 0.66); color:#fff;} 
        table#userlist_table {width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    </style>
    <body>

        <!-- Horizontal Navbar -->
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./search">Search</a></li>
            <li><a href="./addbook">Add Book</a></li>
            <li><a href="./list">List Books</a></li>
            <li><a href="./bargainbooks">Bargains</a></li>
            <li><a href="./register">Register</a></li>
            <li><a href="./listusers">List Users</a></li>
            <li><a href="./deleteuser">Delete Users</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./weather">Weather</a></li>
            <li><a href="./tvshows">TV Shows</a></li>
        </ul>
        <!-- Horizontal Navbar -->

        <h1><%=shopName%> Shop</h1>
        <h2>Here are the users of <%=shopName%>:</h2>

            <!-- Table View of Users -->
            <table id="userlist_table"> 
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
                <% registeredUsers.forEach(function(user) { %>
                <tr style="text-align: center;">
                    <td><%= user.Username %></td>
                    <td><%=user.FirstName %></td>
                    <td><%=user.LastName %></td>
                    <td><%=user.Email %></td>
                    <% }) %>
                </tr>
            </table>
            <!-- Table View of Users -->

        </body>
    </html>