<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TV Shows</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        
        <!-- Bootstrap + Google CSS -->
        <link rel="stylesheet"  type="text/css" href="main.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    </head>
    <body>

        <!-- Horizontal Navbar -->
        <ul style="margin: 10px;">
            <li><a href="./">Home</a></li>
            <li><a href="./search">Search</a></li>
            <li><a href="./addbook">Add Book</a></li>
            <li><a href="./list">List Books</a></li>
            <li><a href="./bargainbooks">Bargains</a></li>
            <li><a href="./register">Register</a></li>
            <li><a href="./listusers">List Users</a></li>
            <li><a href="./deleteuser">Delete Users</a></li>
            <li><a href="./login">Login</a></li>
            <li><a href="./weather">Weather</a></li>
            <li><a href="./tvshows">TV Shows</a></li>
        </ul>
        <!-- Horizontal Navbar -->

        <div class="container" style="margin-left: 15px;">
            <h1 style="margin-bottom: -25px;">TV Dashboard</h1>
            <fieldset>

                <!-- Form to fetch tvshow name -->
                <form method="POST" action="/tvshow-search">
                    <input name="tvshow" type="text" class="ghost-input" placeholder="Enter a TV Show" required>
                    <input type="submit" class="ghost-button" value="Get TV Show">
                </form>
                <!-- Form to fetch tvshow name -->
                
                <!-- Returning the fetched Data -->
                <%if( TVShowData !== null){ %>
                    <div class="grid">
                        <h1><%= name %></h1>
                        <p class="text-muted small"><%= genres %></p>
                        <div style="width: fit-content; max-width: 950px" class="card-deck">
                        <img style="height: 280px; margin-left: 15px;" src="<%= image %>" alt="tvshow-Icon" >
                        
                            <div style="width: fit-content;" class="card card-accent-dark mb-3">
                                <div class="card-header">Summary</div>
                                <div class="card-body text-dark"><%= summary %></div>
                            </div>
                        </div>

                        <div class="card-deck">
                            <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                                <div class="card-header">TV Show Details</div>
                                <div class="card-body text-dark">Genre: <%= genres %></div>
                                <div class="card-body text-dark">Rating: <%= rating %></div>
                                <div class="card-body text-dark">Language: <%= language %></div>
                                <div class="card-body text-dark">TV Show Status: <%= status %></div>
                            </div>
                            
                                <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Facts</div>
                                    <div class="card-body text-dark">Premiered: <%= premiered %></div>
                                    <div class="card-body text-dark">Ended: <%= ended %></div>
                                    <div class="card-body text-dark">Runtime: <%= runtime %> Minutes</div>
                                    <div class="card-body text-dark">Average Runtime: <%= averageruntime %> Minutes</div>
                                </div>

                                <div class="card card-accent-dark mb-3" style="max-width: 18rem;">
                                    <div class="card-header">Network</div>
                                    <div class="card-body text-dark">Channel: <%= channel %></div>
                                    <div class="card-body text-dark">Country: <%= country %></div>
                                    <div class="card-body text-dark">Official Site: <a href="<%= officialsite %>"><%= channel %></a></div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <!-- Returning the fetched Data -->
                    
                    <!-- Display error Message -->
                    <% if(error !== null){ %>
                        <p><%= error %></p>
                        <% } %>
                    </fieldset>
                </div>
                <!-- Display error Message -->
                
            </body>
        </html>